/*********FILTRES MENUS DEROULANTS*********/
:root {
  --filter-container-width: 1148px;
  --filter-menu-width: 260px;
  --filter-menu-font-size: 12px;
  --filter-menu-line-height: 18px;
}
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 20px;
  width: var(--filter-container-width);
}
.filter-container1 {
    display: flex;
    gap: 20px;
}
#menu1-categories,
#menu2-formats,
#menu3-tri {
  padding: 10px;
  width: var(--filter-menu-width);
  height: auto;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--filter-menu-font-size);
  line-height: var(--filter-menu-line-height);
} 

/* SUPPRESSION BARRE DE RECHERCHE*/
.select2-search {
  display: none !important;
}

/* SUPPRESSION TITRE RESET */
.select2-results__option[aria-disabled="true"] {
    display: none;
}

/* SELECTION COULEUR */
/* État par défaut */
.select2-container--default .select2-results__option {
    background-color: white !important;
    color: #000;
}
.select2-container--default .select2-results__option--selected {
    background-color: #E00000 !important;
    color: #ffff !important;
}
.select2-container--default .select2-results__option:hover {
    background-color: #FE5858 !important;
    color: #000000 !important;
}
.select2-container--default .select2-results__option:visited {
    background-color: #FFD6D6 !important;
    color: #000000 !important;
}
.select2-container--default .select2-results__option.visited {
    background-color: #FFD6D6 !important;
    color: #000000 !important;
}

/* EMPLACEMENT RESET */
.select2-container--open .select2-results__option[data-select2-id*="reset"] {
    height: var(--filter-menu-line-height) !important;
    padding: 10px !important;
}

/* UPPERCASE */
.select2-selection__rendered {
    text-transform: uppercase !important;
}

/* Assurez-vous que le premier élément a un fond blanc */
.select2-container--default .select2-results__option:first-child {
    background-color: white !important;
    color: #000; /* Couleur du texte */
}







