/******************************/
/*********MENU FOOTER**********/
/******************************/

.menu-footer-container {
  display: flex;
  justify-content: center;
}

.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid black;
  margin-top: 40px;
}
.site-footer a {
  text-decoration: none;
  color: #000000;
}
.site-footer a:hover {
  text-decoration: none;
  color: #e00000;
}
.site-footer a:visited {
  text-decoration: none;
  color: none;
}
.site-footer a:active {
  text-decoration: none;
  color: none;
}

#footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 620px;
  max-width: 1440px;
  margin: 10px 0 10px 0;
  list-style-type: none;
  padding-left: 0;
}
/* polices */
#footer-menu {
  text-transform: uppercase;
  font-family: "SpaceMono", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 23.7px;
}


