/*******************************/
/*********MENU HEADER***********/
/*******************************/

.site-header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 31px auto; /* Modification pour centrer horizontalement */
    padding: 0 146px;
  }
  
  /* .site-header a {
    text-decoration: none;
    color: #000000;
  }
  .site-header a:hover {
    text-decoration: none;
    color: #e00000;
  }
  .site-header a:visited {
    text-decoration: none;
    color: none !important;
  }
  .site-header a:active {
    text-decoration: none;
    color: #e00000;
  } */
  
  /* espacement entre les liens */

  #primary-menu li {
    padding-left: 36px;
  }

  /* #primary-menu a:visited {
    color: black;
  } */
  #primary-menu a {
    text-decoration: none;
    color: #000000;
  }
  #primary-menu a:hover {
    text-decoration: none;
    color: #e00000;
  }
  #primary-menu a:visited {
    text-decoration: none;
    color: none !important;
  }
  #primary-menu a:active {
    text-decoration: none;
    color: none;
  }

