/*************************************/
/*********LIGHTBOX**********/
/*************************************/

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex; /* Ajouté pour centrer le contenu */
  align-items: center; /* Ajouté pour centrer verticalement */
  justify-content: center; /* Ajouté pour centrer horizontalement */
  overflow: auto;
  animation: lightboxIn 0.5s ease-in-out;
}

.lightbox__next,
.lightbox__prev {
  font-family: "SpaceMono", sans-serif;
  font-weight: 400;
  font-size: 12px;
  border: none;
  width: 92px;
  height: 100%;
  position: fixed;
  top: 0;
  margin-top: -14px;
  z-index: 1010;
  cursor: pointer;
}

.lightbox__next {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 0;
  left: auto;
  width: 50px; /* Ajuster la largeur pour correspondre à la taille de l'icône */
  background: url(../images/arrow.svg) right center / 25px 18px no-repeat;
  text-indent: -100px;
}

.lightbox__next::before {
  content: "Suivante";
  color: #ffffff !important;
  margin-left: 8px; /* Ajouter une marge à gauche du texte */
}

.lightbox__next:hover::before {
  font-weight: 700;
}
.lightbox__next:hover {
  background: url(../images/arrow-long.svg) right center / 50px 18px no-repeat; /* Ajuster la taille et la position */
}

.lightbox__prev {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  right: auto;
  left: 0;
  padding-left: 40px; /* Ajustez la valeur selon la taille du SVG */
  background: none; /* Supprimer l'image de fond */
  /* text-indent: -100px; */
}

.lightbox__prev::before {
  content: "Précédente"; /* Remplacez 'Texte' par le texte souhaité */
  color: #ffffff !important; /* Forcer le changement de la couleur du texte */
  margin-right: 8px; /* Ajustez la marge selon vos besoins */
}

.lightbox__prev:hover::before {
  font-weight: 700;
  font-size: 12px;
}

.lightbox__prev::after {
  content: "";
  background: url(../images/arrow.svg) center center / 25px 18px no-repeat;
  width: 25px; /* Largeur du SVG */
  height: 18px; /* Hauteur du SVG */
  position: absolute;
  left: 8px; /* Ajustez la valeur pour positionner correctement le SVG */
  transform: rotate(180deg); /* Appliquer la rotation uniquement au SVG */
}

.lightbox__prev:hover::after {
  background: url(../images/arrow-long.svg) center center / 34px 18px no-repeat;
}

/*********CROIX FERMETURE**********/
.lightbox__close {
  background: url(../images/close.svg) center center / 50px 50px no-repeat;
  width: 50px;
  height: 50px;
  border: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 1020;
}

/*********CONTAINER**********/
.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%; /* Ajouté pour éviter le débordement */
  max-height: 90%; /* Ajouté pour éviter le débordement */
  min-height: 100vh;
  padding-left: 80px;
  padding-right: 80px;
}

.lightbox__container img {
  max-width: 100%;
  height: auto;
  animation: lightboxIn 0.5s ease-in-out;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*********LOADER**********/

.lightbox__loader {

  width: 38px;
  height: 38px;
  background: url(../images/loader.svg) center center no-repeat;
}
