/*************/
/*BURGER MENU*/
/*************/
/* .main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

/* Icone menu burger */
.menu-burger {
  width: 40px;
  height: 30px;
  position: absolute;
  right: 5em;
  cursor: pointer;
}
.menu-burger .trait1,
.menu-burger .trait2,
.menu-burger .trait3 {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 6px 0;
}
.menu-burger.crossed .trait1 {
  transform: rotate(45deg) translate(7px, 5px);
}
.menu-burger.crossed .trait2 {
  opacity: 0;
}
.menu-burger.crossed .trait3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* menu burger ouvert */

/* polices */
.menu_ouvert {
  position: fixed; /* Changement de relative à fixed */
  background-color: #e00000;
  top: 0;
  left: 0; /* Ajouté pour occuper toute la largeur */
  right: 0; /* Ajouté pour occuper toute la largeur */
  height: 100vh;
  overflow: hidden;
  display: none;
  opacity: 0;
  transition: opacity 2s;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  z-index: 1000;
}

.menu_ouvert_contenu ul {
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_ouvert_contenu li {
    /* margin: auto; */
    margin-top: 50px;
}

#burger-menu {
    text-transform: uppercase;
    font-family: "SpaceMono", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 44px;
    line-height: 23.7px;
    color: #fff;
    list-style-type: none;
    padding-left: 0; /* Ceci supprime spécifiquement l'espace à gauche */

}

#burger-menu a {
    text-decoration: none;
    color: #fff;
    display: block; 
}

/* Si vous voulez centrer le texte du menu */
.menu_ouvert_contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.menu_ouvert_footer {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  bottom: 100px;
}
.menu_ouvert_footer a {
  font-size: 15px;
} */

/* MEDIA QUERY */
@media (min-width: 850px) {
  .menu-burger {
    display: none;
  }
}
@media (max-width: 850px) {
  .menu-principal-container {
    display: none;
  }
}
