/*************************************/
/*********SINGLE PHOTOS PAGE**********/
/*************************************/
.main-photo-container {
  max-width: 1148px !important;
  width: 100% !important;
  margin: 0 auto !important;
}
.photo-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.photo-details-container {
  border-bottom: 1px solid black;
  margin: 3px 10px 0 0;
}
.photo-details {
  display: flex;
  flex-direction: column;
}
.photo-details p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400 !important;
  line-height: 20.73px;
}
.photo-thumbnail,
.photo-details-container {
  flex: 1;
}
/*********CONTACT SECTION**********/
.photo-contact,
.photo-contact-content {
  display: flex;
  align-items: center;
}
.photo-contact {
  height: 119px;
  border-bottom: 1px solid black;
}
.photo-contact-content {
  justify-content: space-between;
  max-width: 1148px !important;
  width: 100% !important;
  margin: 0 auto !important;
}
.photo-contact-content p {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.photo-contact-content,
.photo-navigation {
  flex: 1;
}
.vous-aimerez-aussi {
  padding-top: 40px;
  padding-bottom: 40px;
}
/*********PHOTOS NAVIGATION**********/
.photo-navigation {
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 90%;
  flex-direction: column-reverse;
}
/*********FLECHES NAVIGATION**********/
.nav-link {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}
.nav-link img {
  display: block;
}
.thumbnail-container {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
}
.nav-thumbnail {
  position: absolute;
  width: 90px;
  height: 90px;
  display: none;
  z-index: 1000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nav-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#mota_Btn_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 272px;
  height: 50px;
  border-radius: 2px 0 0 0;
  font-family: "SpaceMono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 17.77px;
  transition: all 0.3s ease-in-out;
}
#mota_Btn_contact:hover {
  font-weight: 700;
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
}
